/* Task style */
.task-list {
  display: flex;
  flex-direction: column;
}

.task-item {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.task-item.overdue {
  background-color: rgba(255, 0, 0, 0.526);
}

.task-item.urgent {
  background-color: rgba(255, 255, 0, 0.812);
}

.task-details {
  display: flex;
  align-items: center;
}

.task-description {
  flex: 1;
  margin-right: 10px;
}

.task-time {
  flex: 0 0 60px;
  text-align: right;
}

.task-buttons {
  margin-top: 10px;
}

.complete-button,
.edit-button,
.delete-button {
  margin-right: 10px;
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 14px;
}

.complete-button {
  background-color: #4caf50;
  color: white;
}

.edit-button {
  background-color: #2196f3;
  color: white;
}

.delete-button {
  background-color: #f44336;
  color: white;
}

/* Task edit style */
.edit-inputs {
  display: flex;
  margin-bottom: 10px;
}

.edit-description-input,
.edit-time-input {
  flex: 1;
  margin-right: 10px;
  padding: 8px;
  font-size: 14px;
}

.save-button {
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  background-color: #2196f3;
  color: white;
}

/* Complete task */
.completed-tasks {
  margin-top: 20px;
}

.completed-tasks h2 {
  font-size: 18px;
  margin: 20px;
}

.completed-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 5px;
}

.completed-task span {
  flex: 1;
}

.completed-task-button {
  background-color: #2196f3;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 20px;
}

.completed-task-button:hover {
  background-color: #0b7dda;
}

/* Form style */
.form-container {
  max-width: 400px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.form-container h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.form-container label {
  display: block;
  margin-bottom: 10px;
}

.form-container label span {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.form-container input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 5px;
}

.form-container button {
  background-color: #2196f3;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.form-container button:hover {
  background-color: #0b7dda;
}


/* Toggle button*/

.toggle-button-container {
  margin: 20px;
}

.toggle-button {
  background-color: #2196f3;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.toggle-button:hover {
  background-color: #0b7dda;
}
